<div [@routerTransition]>
    <h2 style="text-align: center;" class="text-muted"> LCU Usage </h2>
    <h2 style="text-align: center;"  style="float:left!important;" class="text-muted"><small>{{ lcuData.lcu.name }}</small></h2>
    <br> <br> <br>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [count]="lcuData.data.totalPower" [icon]="'fa-bolt'" [label]="'Power Consumption (Watts)'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [count]="lcuData.data.activeSwitchCount" [icon]="'fa-plug'" [label]="'Active Devices'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'secondary'" [count]="lcuData.data.sum" [icon]="'fa-clock-o'" [label]="'Active Time (Minutes)'">
            </app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [count]="lcuData.data.highestTemperature" [icon]="'fa-thermometer-2'" [label]="'Temperature (C)'"></app-stat>
        </div>
    </div>
    <br> <br>

    <h1> Smart Switches</h1>
    <div class="dash-table-container">
        <table class="table table-hover" width="50%">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Smart Switch</th>
                    <th>Power Rating</th>
                    <th>Status</th>
            </thead>
            <tbody>
                <tr *ngFor="let switch of lcuData.lcu.switches let i=index;" (click)="openSwitch(switch.id);">
                    <td>{{i}}</td>
                    <td>{{switch.name}}</td>
                    <td>{{switch.powerRating}}</td>
                    <td>{{switch.state ? 'ON' : 'OFF'}}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>