<div [@routerTransition]>
    <h2 style="text-align: center;"   class="text-muted">Dashboard</h2>
    <h2 style="text-align: center;"  style="float:left!important;" class="text-muted"><small>{{ gcuData.gcu.name }}</small></h2>
       <br> <br> 
   <div class="row">
       <div class="col-xl-3 col-lg-6">
           <app-stat [bgClass]="'primary'" [count]="gcuData.data.totalPower" [icon]="'fa-bolt'" [label]="'Power Consumption (Watts)'"></app-stat>
       </div>
       <div class="col-xl-3 col-lg-6">
           <app-stat [bgClass]="'warning'" [count]="gcuData.data.activeSwitchCount" [icon]="'fa-plug'" [label]="'Active Devices'"></app-stat>
       </div>
       <div class="col-xl-3 col-lg-6">
           <app-stat [bgClass]="'secondary'" [count]="gcuData.data.sum" [icon]="'fa-clock-o'" [label]="'Active Time (Minutes)'"></app-stat>
       </div>
       <div class="col-xl-3 col-lg-6">
           <app-stat [bgClass]="'danger'" [count]="gcuData.data.highestTemperature" [icon]="'fa-thermometer-2'" [label]="'Temperature (Celsius)'"></app-stat>
       </div>
   </div>
   <br><br>
   <h1> Rooms</h1>
   <div class="dash-table-container">
       <table class="table table-hover" width ="50%">
         <thead>
           <tr >
             <th>S.No</th>
             <th>Room</th>
             <th>No of Smart Switch</th>
         </thead>
         <tbody>
           <tr *ngFor="let lcu of gcuData.gcu.lcu; let i=index;" (click)="openLCU(lcu.id);">
             <td>{{i}}</td>
             <td>{{lcu.name}}</td>
             <td>{{lcu.switchCount}}</td>
           </tr> 
         </tbody>
        
       </table>
     </div>
</div>